@keyframes vibrate {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

.AnimatedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-left: 55px;
  margin-top: 50px;
  height: 40px;
  width: 80px;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(45deg, #f13004, #fbdc2e);
  border: none;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.AnimatedButton:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff5733, #d00d07);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
  animation: shine 1.5s linear infinite;
}

.AnimatedButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  animation: vibrate 0.3s ease-in-out;
}

.AnimatedButton:hover:before {
  transform: translateX(0);
}