.terminal-btn {
    width: 30px;
    height: 30px;
    margin:0px 10px;
    background-color: transparent;
}

.terminal-btn:hover {
    background-color: chartreuse; 
    transform: scale(1.1);
    transition: all 0.3s ease; 
}

.tabFooter {
    display: flex;
    position: fixed;
    bottom: 0px;

    height: 5vh;
    min-height: 25px;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 1)),
        linear-gradient(140deg,
            rgba(0, 0, 0, 1),
            rgba(245, 245, 220, 0.6),
            rgba(245, 245, 220, 0.5));
    z-index: 350;
    transform: translateY(0px);

}
.Footer-Text{
    font-size:large;
    font-weight: 600;
}