#login-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #0f0;
    width: 300px;
    box-sizing: border-box;
}

#login-form h1 {
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

#login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0f0;
    color: black;
    cursor: pointer;
}