.vault-container {
    position: relative;
    width: 300px;
}

#something {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}


.vault-btn {
    color: white;
    width: 35px;
    height: 35px;
    background-color: #2b414f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.numbers {
    position: absolute;
    top: 59px;
    left: 76px;
    max-width: 150px;
    margin: 20px auto;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 5px;
}

.numbers button {
    transition: background-color 0.3s ease;
}

.numbers button:hover {
    background-color: #22e62f;
}

#vault-wheel {
    position: absolute;
    top: 100px;
}

#vault-wheel.rotate {
    animation: rotate 0.5s ease-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(60deg);
    }
}

@keyframes rotate-bak {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.rot-col-error {
    background-color: #e62f2f;

}

.rot-col {
    background-color: #22e62f;
}

.nom-col {
    background-color: #2b414f;

}

.smcircle {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: aqua; */
    left: 51px;
    top: 65px;
}