.buttons--container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.xss {
    right: 5px;
    top: 38%;
    width: 25vw;
    padding: 5px;
    height: 20vh;


    background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 1)),
        linear-gradient(45deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7));
    z-index: 390;
}

.xss-text {
    position: absolute;
    height: 50px;
    top: 20%;
    width: 95%;
    right: 9px;
    background-color: transparent;
    border-radius: 4px;
    color: chartreuse;
    padding: 10px;
    border:none;

}
.xss-text:focus {
    outline: none;
}