::-webkit-scrollbar {
  display: none;
}

.time {
  position: absolute;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 40px;
  background-color: beige;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 390;
  height: 90%;
  top: -3px;
}

.countdown11 {
  /* background-color: #1abebe; */
  /* background-color: rgb(0 0 0 / 30%); */
  z-index: 1000;
  position: relative;
  top: 60px;
  width: 10%;
  left: 80px;
  font-size: medium;
  /* background-color: cyan; */
}

#mins {
  left: 65px;
}

#hrs {
  left: 25px;

}

.admin-container {
  position: relative;
  background-image: linear-gradient(135deg, rgba(64, 114, 148, .94), rgba(22, 37, 48, .94));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: blue; */

}

.mask {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1;
  transform: translate(-50%, -50%);
}

.carousel-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  border-radius: 50px;
  backdrop-filter: blur(25px);
  background-color: rgba(250, 250, 250, 0.35);
  border: 1px solid #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 7px;
  transition: all 0.3s ease;
}

.panel:hover {
  transform: scale(1.05);
}

.vaults {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.slideshow--container {
  background: whitesmoke;
}


.slideshow--button {
  border-radius: 10%;
  margin: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  line-height: 1;
  position: relative;
  padding: 10px;
  background: #1abebf;
  background-image: linear-gradient(122deg, #37e0e0, #1abebe);
  background-size: 300px, 300px, 100%;
  color: #fff;
  border-bottom: 5px solid #ffc600;
  box-shadow: 0 0 3px 3px rgb(0 0 0 / 5%);
  text-shadow: 0 0 3px rgb(0 0 0 / 30%);
  transition: all .3s;
}

.slideshow--button:hover {
  box-shadow: 0 0 3px 3px rgb(0 0 0 / 8%);
  align-items: center;
  background-image: linear-gradient(135deg, rgba(64, 114, 148, .94), rgba(22, 37, 48, .94)), url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg"), url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  transform: scale(1.1)
}



.satellite {
  right: 5px;
  top: 60%;
  width: 25vw;
  padding: 5px;
  height: 35vh;


  background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 1)),
    linear-gradient(45deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7));
  z-index: 390;
}

.mwp {
  position: absolute;
  top: 500px;
  width: 25vw;
  padding: 5px;
  height: 20vh;
  background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 1)),
    linear-gradient(45deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7));
  z-index: 390;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xss-text {
  position: absolute;
  height: 50px;
  top: 35%;
  width: 95%;
  right: 9px;
  background-color: transparent;
  border-radius: 4px;
  color: green;
  padding: 10px;
}



.terminal-btn {
  position: relative;
  width: 30px;
  height: 30px;
  left: 175px;
  background-color: transparent;
  margin-right: 20px;
}

.terminal-btn:hover {
  background-color: chartreuse;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.move {
  position: relativel;
  left: 400px;

}

.move2 {
  left: 30px;
}

.tabHeader {
  position: fixed;
  float: top;
  top: 0px;
  height: 5vh;
  min-height: 25px;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 1)),
    linear-gradient(140deg,
      rgba(0, 0, 0, 1),
      rgba(245, 245, 220, 0.6),
      rgba(245, 245, 220, 0.5));
  z-index: 350;
  transform: translateY(0px);
}

.dos {
  position: absolute;
  height: 40px;
  width: 80px;
  bottom: 0px;
  border-radius: 10px;
  background-color: orange;
  margin-right: 60px;

}

.send {

  position: absolute;
  height: 40px;
  width: 80px;
  bottom: 8px;
  right: 8px;
  border-radius: 20px;
  background-color: rgb(112, 190, 232);

}

.tabFooter {
  position: fixed;
  float: bottom;
  bottom: 0px;
  height: 5vh;
  min-height: 25px;
  width: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 1)),
    linear-gradient(140deg,
      rgba(0, 0, 0, 1),
      rgba(245, 245, 220, 0.6),
      rgba(245, 245, 220, 0.5));
  z-index: 350;
  transform: translateY(0px);

}

.send {
  background: linear-gradient(45deg, #274943, #47608f);
}

.dos {
  background: linear-gradient(45deg, #f13004, #fbdc2e);
}



.favicon {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  top: 2px;
  left: 2px;

  border: 2px solid rgb(55, 55, 55);

  background: radial-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.7));
  z-index: 360;
}

.widget-top {
  position: absolute;
  height: 20px;
  width: 100%;
  left: 0px;
  border-radius: 8px;
  top: -1px;
  background: linear-gradient(45deg,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0.9)),
    linear-gradient(140deg,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0.5));
  opacity: 1;
  border: 2px solid rgb(255, 210, 150);
  z-index: 600;
}

.widget-top-text {
  position: absolute;
  display: table;
  text-align: left;
  top: -2px;
  font-size: 0.9em;
  left: 30px;
  width: 100%;
}

#hidden--img {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  opacity: 0;
}

.attackMap-widget {
  position: absolute;
  color: #fff;
  border: 1px solid white;
  overflow: show auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  text-align: center;
  color: white;
  text-shadow: 2px 1px 3px #000;
  border-radius: 10px;

  z-index: 390;
}

.widget-body {
  position: relative;

  top: 10px;
  font-size: 1em;
}



#attackMap-map {
  position: absolute;
  display: none;

  top: 35px;
  left: 2%;
  margin: auto;
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(45deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7));
  width: 100%;
  max-width: 98vw;
  min-width: 270px;
  min-height: 250px;
  height: 50vw;
  resize: both;
  z-index: 300;
}

#attackMap-map widget-top {
  position: absolute;
  display: flex;
  top: 0;
  z-index: 500;
}

#attackMap-news {
  right: 5px;
  top: 40px;
  width: 25vw;
  padding: 5px;
  height: 30vh;
  background: rgba(red, green, blue, alpha) radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 1)),
    linear-gradient(45deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7));
  z-index: 390;
}

model-viewer {
  width: 100%;
  height: 100%;
}